<head>
  <meta charset="UTF-8">
  <title>Animais Cadastrados</title>
  <link rel="stylesheet" href="static/animcadastrados.css">
</head>

{% extends 'base.html' %}

{% block title %}Animais Cadastrados{% endblock %}

{% block content %}
<br>
<h1>Animais Cadastrados</h1>
<!--<div class="teste">-->
<!--  <figure>-->
<!--  <img src="../static/img/foto1.jpg" alt="Apadrinhe um amigo" height="100" width="100"/>-->
<!--  <p>Tico</p>-->
<!--    <p>4 anos</p>-->
<!--    <p>Sem raça definida</p>-->
<!--    <p>Logotipo MDN</p>-->
<!--    <p>Logotipo MDN</p>-->
<!--    <p>Logotipo MDN</p>-->
<!--</figure>-->
<!--</div>-->

<div class="animais-container">
  <div class="animal">
    <img src="../static/img/foto1.jpg" alt="Apadrinhe um amigo" height="300" width="320"/>
  <p>Tico</p>
    <p>4 anos</p>
    <p>Cachorro</p>
    <p>Sem raça definida</p>
    <p>Macho</p>

  </div>
  <div class="animal">
    <img src="../static/img/foto1.jpg" alt="Apadrinhe um amigo" height="300" width="320"/>
  <p>Teco</p>
    <p>10 anos</p>
    <p>Cachorro</p>
    <p>Sem raça definida</p>
    <p>Macho</p>

  </div>
</div>
<br>
<br>
<div class="animais-container">
  <div class="animal">
    <img src="../static/img/foto1.jpg" alt="Apadrinhe um amigo" height="300" width="320"/>
  <p>Toco</p>
    <p>12 anos</p>
    <p>Cachorro</p>
    <p>Sem raça definida</p>
    <p>Macho</p>

  </div>
  <div class="animal">
    <img src="../static/img/foto1.jpg" alt="Apadrinhe um amigo" height="300" width="320"/>
  <p>Tuco</p>
    <p>7 anos</p>
    <p>Cachorro</p>
    <p>Sem raça definida</p>
    <p>Macho</p>

  </div>
</div>


{% endblock %}


