
<head>
  <meta charset="UTF-8">
  <title>Homepage</title>
  <link rel="stylesheet" href="static/home.css">
</head>

{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
<!--<body background="../static/img/foto3.jpg">-->
<div class="sobre" >
<p><h1>Escrever sobre a ONG</h1>
Os centros de controle de zoonoses são responsáveis pela captura de animais de rua, com o
objetivo de diminuir doenças e reprodução desenfreada. Entretanto, a escassez de pessoas
qualificadas para o serviço, e a ausência de infraestrutura adequada levam muitos animais
saudáveis à morte. Além disso, muitos animais quando são capturados, geralmente são levados
para ONGs que passam a ser responsáveis pelo cuidado do animal, porém a maioria das ONGs
apresentam uma superlotação de animais e possuem muita dificuldade de divulgar projetos de
apadrinhamento e adoção e com isso muitos pets deixam de ser adotados e passam a vida toda
residindo dentro da ONG. Portanto, este Projeto Integrador tem como objetivo implementar
uma plataforma de cadastro para ajudar as ONGs envolvidas na causa animal a melhorar sua
divulgação de trabalho e facilitar o processo de adoção e/ou apadrinhamento de um animal.
Para isso, será criado um banco de dados de animais e pessoas, facilitando este encontro entre
pets disponíveis para adoção e pessoas buscando animais, o que favorecerá o aumento do
número de adoções e consequentemente a diminuição do número de animais em ONGs, pois o
foco deste trabalho é entender as principais necessidades das ONGs, conhecer suas atuações,
levantar e descobrir seus pontos fortes e fracos. E através da tecnologia, promover uma melhor
eficácia para o destino desses animais.
</p>
    </div>
</body>
{% endblock %}

