
<head>
  <meta charset="UTF-8">
  <title>Homepage</title>
  <link rel="stylesheet" href="static/home.css">
</head>

{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
<!--<body background="../static/img/foto3.jpg">-->
<div class="sobre" >
<p><h1>Canil São Lázaro</h1>
<!--Os centros de controle de zoonoses são responsáveis pela captura de animais de rua, com o-->
<!--objetivo de diminuir doenças e reprodução desenfreada. Entretanto, a escassez de pessoas-->
<!--qualificadas para o serviço, e a ausência de infraestrutura adequada levam muitos animais-->
<!--saudáveis à morte. Além disso, muitos animais quando são capturados, geralmente são levados-->
<!--para ONGs que passam a ser responsáveis pelo cuidado do animal, porém a maioria das ONGs-->
<!--apresentam uma superlotação de animais e possuem muita dificuldade de divulgar projetos de-->
<!--apadrinhamento e adoção e com isso muitos pets deixam de ser adotados e passam a vida toda-->
<!--residindo dentro da ONG. Portanto, este Projeto Integrador tem como objetivo implementar-->
<!--uma plataforma de cadastro para ajudar as ONGs envolvidas na causa animal a melhorar sua-->
<!--divulgação de trabalho e facilitar o processo de adoção e/ou apadrinhamento de um animal.-->
<!--Para isso, será criado um banco de dados de animais e pessoas, facilitando este encontro entre-->
<!--pets disponíveis para adoção e pessoas buscando animais, o que favorecerá o aumento do-->
<!--número de adoções e consequentemente a diminuição do número de animais em ONGs, pois o-->
<!--foco deste trabalho é entender as principais necessidades das ONGs, conhecer suas atuações,-->
<!--levantar e descobrir seus pontos fortes e fracos. E através da tecnologia, promover uma melhor-->
<!--eficácia para o destino desses animais.-->
O canil São Lázaro é uma entidade de proteção animal sem fins lucrativos, localizada em Santa Cruz das Palmeiras/SP,
    para resgatar, proteger e cuidar de animais em situação de rua e maus-tratos.</p>
<p>No momento, a entidade abriga 126 animais e possui em sua infraestrutura canis separados com padrões pré-estabelecidos e
    devidamente higienizados. Além disso, ainda possui sala de cirurgia e enfermaria dentro do local para a realização
    de atendimentos dos animais do abrigo e também de emergências que surgem.
</p>
    </div>
</body>

{% endblock %}

